#Kernel su
CONFIG_KPROBES=n
CONFIG_KSU=y
CONFIG_KSU_EXTRAS=y

#mountify
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS_XATTR=y

#wireguard
CONFIG_WIREGUARD=y

#customizations
CONFIG_LOCALVERSION_AUTO=n
CONFIG_LOCALVERSION="-Celestial+"
CONFIG_DEFAULT_HOSTNAME="a04e"

#Disable defex
CONFIG_SECURITY_DEFEX=n

#Schedulers
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y