#Kernel su
CONFIG_KPROBES=n
CONFIG_KSU=y
CONFIG_KSU_EXTRAS=y

#mountify
CONFIG_OVERLAY_FS=y
CONFIG_TMPFS_XATTR=y

#wireguard
CONFIG_WIREGUARD=y

#customizations
CONFIG_LOCALVERSION_AUTO=n
CONFIG_LOCALVERSION="-Celestial+"
CONFIG_DEFAULT_HOSTNAME="a04e"

# Disable Samsung Securities
CONFIG_UH=n
CONFIG_UH_RKP=n
CONFIG_UH_LKMAUTH=n
CONFIG_UH_LKM_BLOCK=n
CONFIG_RKP_CFP_JOPP=n
CONFIG_RKP_CFP=n
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n

#Schedulers
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y